.App {
  text-align: left;
  background-color: #7290ce;
  height:2200px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.list {
  display: flex;
  flex-direction: row;
}
.rfp {
  position: relative;
  bottom: -10px;
  width:40px;
  height:40px;
  border-radius:50% ;
  font-size: 32px;
  background-color: crimson;

}
li {
  display: flex;
  flex-direction: row;
  background-color: rgb(232, 235, 30);
  margin: 15px;
  padding: 5px;
  color: black;
  visibility: visible;
}
.thing {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 160px;
  bottom: 50px;
}
.stuff {
  width:100px;
  height:100px;
  position: relative;
  left: 20px;
  padding: 5px;
  background-color: coral;
}
